<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>模板Helpers</title>
	<script src="../lib/jquery-1.11.0.js"></script>
	<script src="../lib/jquery.tmpl.js"></script>
</head>

<body>
	<script>
		// helper.js
		var helper = {};
		helper.autoLink = function(data){
			var re = /((http|https|ftp):\/\/[w?=&.\/-;#~%-]+(?![\w\s?&.\/;#~%"=-"]*>))/g;
			return (data.replace(re, '<a target="_blank" href="$1">$1</a>'));
		};
	</script>
	<div>
		${helper.autoLink(this.data)}
	</div>

	<p>
		有时在视图内部使用“通用helper函数”（generic helper function）是非常好的，如格式化一个日期或数字。
	</p>
</body>

</html>